# Artefactos de compilacion
**/build/
**/.gradle/
**/.dart_tool/
**/.idea/

# Configuracion local del SDK
**/local.properties

# Archivos generados por Flutter
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# Archivos de sistema y editor
.DS_Store
Thumbs.db
*.iml
